@font-face {
	font-family: "Copperplate-Medium";
	src: url("../fonts/Copperplate-Medium.woff")
}
@font-face {
	font-family: "Copperplate-Light";
	src: url("../fonts/Copperplate-Light.woff")
}

main section:first-of-type {
    display:grid;
    text-align: center;
    background-color: rgb(242, 242, 242);
}

  /*MAIN SECTION 1*/

main section:nth-of-type(2) {
	display:flex;
	flex-direction: column;
	gap: 0.5em;

	text-align: center;
}

main a {
    background-color: black;
    color: white;

    text-decoration: none;
    border: none;
    border-radius: 0;

    padding: 0.7em 1.5em;

    font-weight: 500;
    letter-spacing: 0.1em;
    font-family: "Copperplate-Light";

    max-width: 30em;
}

/* main p {
    max-width: 80%;
} */


video {
    width: 100%;
    position: relative;
    z-index: -1;
}

h1,h2 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: "Copperplate-Light";
    margin:1em;
}

h3 {
    font-family: "Copperplate-Light";
}

h1:first-of-type {
    margin: 0.5em 0 0 0;

}

h2:first-of-type {
    margin:0;
}

p {
    letter-spacing: 0.1em;
}

main section:nth-of-type(2) p:last-of-type {
    letter-spacing: 0.1em;
    margin-top:4em;
    margin-bottom:4em;
}

/*MAIN SECTION 3 + CAROUSEL*/

main section:nth-of-type(3) {
    /* display: flex;
    flex-direction: column; */
    position: relative;
    overflow: hidden;
    outline: none;
    margin-bottom: 2em;
}

main section:nth-of-type(3) > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    overflow: hidden;
    scroll-snap-type: inline mandatory;
    scroll-behavior: smooth;

    -webkit-overflow-scrolling: touch; 
    -ms-overflow-style: none;
    scrollbar-width: none;
}

main section:nth-of-type(3) > ul::-webkit-scrollbar {
    display:none;

}

main section:nth-of-type(3) > ul li {
    flex-basis: 100%;
    flex-shrink: 0;
    scroll-snap-align:center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main section:nth-of-type(3) > ul li > img {
    display:block;
    
}

main section:nth-of-type(3) > a {
    position: absolute;
    width: 3em;
    aspect-ratio: 1/1;
    top: calc(50% - 1.5em);

    color: white;
    background-color: lightslategray;
    outline: none;
    box-shadow: inset 0 0 0 1px currentColor;

    display:grid;
    place-items:center;
  
    transition: 0.5s;
}

main section:nth-of-type(3) > a[href="previous"] {
    left:-3.5em;
  }
main section:nth-of-type(3) > a[href="next"] {
    right: -3.5em;
}

main section:nth-of-type(3):hover > a[href="previous"],
main section:nth-of-type(3):focus-within > a[href="previous"] {
    left: .5em;
}
main section:nth-of-type(3):hover > a[href="next"],
main section:nth-of-type(3):focus-within > a[href="next"] {
    right: .5em;
}

main section:nth-of-type(3) > a::before,main section:nth-of-type(3) > a::after {
    content: "";
    position: absolute;
    width: 1em;
    height: 4px;
    background-color: currentColor;
}

main section:nth-of-type(3) > a[href=previous]::before {
	transform-origin: 2px center;
	transform: translateY(0) rotate(45deg);
}
main section:nth-of-type(3) > a[href=previous]::after {
	transform-origin: 2px center;
	transform: translateY(0) rotate(-45deg);
}

main section:nth-of-type(3) > a[href=next]::before {
	transform-origin: calc(100% - 2px) center;
	transform: translateY(0) rotate(45deg);
}
main section:nth-of-type(3) > a[href=next]::after {
	transform-origin: calc(100% - 2px) center;
	transform: translateY(0) rotate(-45deg);
}

@media (min-width: 48em) {
    #justButtons > ul > li {
      flex: 0 0 50%; 
    }

    main section:nth-of-type(2) {
        display: block;
    }
  }

@media (min-width: 75em) {
    #justButtons > ul > li {
      flex: 0 0 33.3333%; 
    }
  }

/* END OF CAROUSEL */

section:nth-of-type(3) img {
	max-height: 17em;
	max-width: auto;
	align-self: center;
    margin: 0.5em;
}

section:nth-of-type(4) img {
	max-height: 17em;
	max-width: auto;
	align-self: center;
    margin: 0.5em;
}

section:nth-of-type(5) img {
	max-height: 17em;
	max-width: auto;
	align-self: center;
    margin: 0.5em;
}



main button {
    background-color: black;
    color: white;

    text-decoration: none;
    border: none;
    border-radius: 0;

    padding: 1em 1.5em;

    font-weight: 600;
    letter-spacing: 0.1em;
    font-family: "Copperplate-Light";

    max-width: 30em;
}

/*Section 4*/

main section:nth-of-type(4) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1em;
}

main section:nth-of-type(5) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (min-width: 48em) {
    
    /* main section:nth-of-type(4) img {
    } */
  }
  
